<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Fiche candidat</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<meta http-equiv="Content-Language" content="fr"></meta>
<link rel="stylesheet" th:href="@{/css/pdp.min.css}" />
<link rel="stylesheet" th:href="@{/css/calendrier.css}" />
<link rel="stylesheet" th:href="@{/css/SpryTabbedPanels.css}" />

<script th:src="@{/js/pdp.min.js}"></script> 
<script th:src="@{/js/Wish_Forms.js}"></script> 
<script th:src="@{/js/SpryTabbedPanels.js}"></script> 
<script th:src="@{/js/Wish_Calendar.js}"></script> 
<script th:src="@{/js/Wish_TabArrays.js}"></script> 
<script th:src="@{/js/Wish_Recherche.js}"></script> 

<!-- Cache et Div pour gérer les boîtes de dialogue modales -->
<style type="text/css" media="screen">
#div_mask {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

#div_modalmessage {
	position: fixed;
	left: 50%;
	top: 50%;
}
</style>
</head>
<body>
	<div
		class="ui-multiselect-menu ui-widget ui-widget-content ui-corner-all"
		style="width: 417px;">
		<div
			class="ui-widget-header ui-corner-all ui-multiselect-header ui-helper-clearfix ui-multiselect-hasfilter">
			<div class="ui-multiselect-filter">
				<input placeholder="" type="search">
			</div>
			<ul class="ui-helper-reset">
				<li>10&nbsp;items maximum</li>
				<li class="ui-multiselect-close"><a
					href="https://app.boondmanager.com/#" class="ui-multiselect-close"><span
						class="ui-icon ui-icon-circle-close"></span></a></li>
			</ul>
		</div>
		<ul class="ui-multiselect-checkboxes ui-helper-reset">
			<li class="ui-multiselect-optgroup-label "><a
				href="https://app.boondmanager.com/#">Monde</a></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-0" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-0"
					name="multiselect_selectMobilite" type="checkbox" value="monde"
					title="Monde"><span>Monde</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-1" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-1"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafrique" title="Afrique"><span>Afrique</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-2" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-2"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeameriquesnord" title="Amériques du Nord"><span>Amériques
						du Nord</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-3" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-3"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeameriquessud" title="Amériques du Sud"><span>Amériques
						du Sud</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-4" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-4"
					name="multiselect_selectMobilite" type="checkbox" value="mondeasie"
					title="Asie"><span>Asie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-5" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-5"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeaustralie" title="Australie"><span>Australie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-6" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-6"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeurope" title="Europe"><span>Europe</span></label></li>
			<li class="ui-multiselect-optgroup-label "><a
				href="https://app.boondmanager.com/#">Europe</a></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-7" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-7"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropeallemagne" title="Allemagne"><span>Allemagne</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-8" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-8"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropeautriche" title="Autriche"><span>Autriche</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-9" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-9"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropebelgique" title="Belgique"><span>Belgique</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-10" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-10"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropebulgarie" title="Bulgarie"><span>Bulgarie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-11" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-11"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropechypre" title="Chypre"><span>Chypre</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-12" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-12"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropedanemark" title="Danemark"><span>Danemark</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-13" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-13"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropeespagne" title="Espagne"><span>Espagne</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-14" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-14"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropeestonie" title="Estonie"><span>Estonie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-15" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-15"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefinlande" title="Finlande"><span>Finlande</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-16" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-16"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrance" title="France"><span>France</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-17" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-17"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropegrèce" title="Grèce"><span>Grèce</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-18" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-18"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropehongrie" title="Hongrie"><span>Hongrie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-19" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-19"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropeirlande" title="Irlande"><span>Irlande</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-20" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-20"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropeitalie" title="Italie"><span>Italie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-21" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-21"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropelettonie" title="Lettonie"><span>Lettonie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-22" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-22"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropelituanie" title="Lituanie"><span>Lituanie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-23" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-23"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropeluxembourg" title="Luxembourg"><span>Luxembourg</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-24" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-24"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropemalte" title="Malte"><span>Malte</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-25" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-25"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropepaysbas" title="Pays-Bas"><span>Pays-Bas</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-26" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-26"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropepologne" title="Pologne"><span>Pologne</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-27" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-27"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropeportugal" title="Portugal"><span>Portugal</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-28" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-28"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuroperepubliquetcheque" title="République tchèque"><span>République
						tchèque</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-29" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-29"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuroperoumanie" title="Roumanie"><span>Roumanie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-30" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-30"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuroperoyaumeuni" title="Royaume-Uni"><span>Royaume-Uni</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-31" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-31"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropeslovaquie" title="Slovaquie"><span>Slovaquie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-32" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-32"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropeslovenie" title="Slovénie"><span>Slovénie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-33" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-33"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropesuede" title="Suède"><span>Suède</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-34" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-34"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropesuisse" title="Suisse"><span>Suisse</span></label></li>
			<li class="ui-multiselect-optgroup-label "><a
				href="https://app.boondmanager.com/#">France</a></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-35" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-35"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancealsace" title="Alsace"><span>Alsace</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-36" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-36"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefranceaquitaine" title="Aquitaine"><span>Aquitaine</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-37" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-37"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefranceauvergne" title="Auvergne"><span>Auvergne</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-38" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-38"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancebourgogne" title="Bourgogne"><span>Bourgogne</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-39" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-39"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancebretagne" title="Bretagne"><span>Bretagne</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-40" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-40"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancecentre" title="Centre"><span>Centre</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-41" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-41"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancechampagneardenne" title="Champagne-Ardenne"><span>Champagne-Ardenne</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-42" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-42"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancecorse" title="Corse"><span>Corse</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-43" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-43"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancefranchecomte" title="Franche-Comté"><span>Franche-Comté</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-44" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-44"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefranceiledefrance" title="Ile-de-France"><span>Ile-de-France</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-45" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-45"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancelanguedocroussillon"
					title="Languedoc-Roussillon"><span>Languedoc-Roussillon</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-46" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-46"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancelimousin" title="Limousin"><span>Limousin</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-47" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-47"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancelorraine" title="Lorraine"><span>Lorraine</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-48" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-48"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancemidipyrenees" title="Midi-Pyrénées"><span>Midi-Pyrénées</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-49" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-49"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancenordpasdecalais" title="Nord-Pas-de-Calais"><span>Nord-Pas-de-Calais</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-50" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-50"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancebassenormandie" title="Basse-Normandie"><span>Basse-Normandie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-51" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-51"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancehautenormandie" title="Haute-Normandie"><span>Haute-Normandie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-52" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-52"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancepaysdelaloire" title="Pays de la Loire"><span>Pays
						de la Loire</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-53" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-53"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancepicardie" title="Picardie"><span>Picardie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-54" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-54"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancepoitoucharentes" title="Poitou-Charentes"><span>Poitou-Charentes</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-55" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-55"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancepaca" title="PACA"><span>PACA</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-56" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-56"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefrancerhonealpes" title="Rhône-Alpes"><span>Rhône-Alpes</span></label></li>
			<li class="ui-multiselect-optgroup-label "><a
				href="https://app.boondmanager.com/#">Ile-de-France</a></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-57" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-57"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefranceiledefranceparis" title="Paris (75)"><span>Paris
						(75)</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-58" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-58"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefranceiledefranceseineetmarne"
					title="Seine-et-Marne(77)"><span>Seine-et-Marne(77)</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-59" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-59"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefranceiledefranceyvelines" title="Yvelines(78)"><span>Yvelines(78)</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-60" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-60"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefranceiledefranceessone" title="Essone(91)"><span>Essone(91)</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-61" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-61"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefranceiledefrancehautsdeseine(92)"
					title="Hauts-de-Seine(92)"><span>Hauts-de-Seine(92)</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-62" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-62"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefranceiledefranceseinesaintdenis"
					title="Seine-Saint-Denis(93)"><span>Seine-Saint-Denis(93)</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-63" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-63"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefranceiledefrancevaldemarne"
					title="Val-de-Marne(94)"><span>Val-de-Marne(94)</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-64" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-64"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeeuropefranceiledefrancevaloise"
					title="Val-d&#39;Oise(95)"><span>Val-d'Oise(95)</span></label></li>
			<li class="ui-multiselect-optgroup-label "><a
				href="https://app.boondmanager.com/#">Asie</a></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-65" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-65"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeasieinde" title="Inde"><span>Inde</span></label></li>
			<li class="ui-multiselect-optgroup-label "><a
				href="https://app.boondmanager.com/#">Afrique</a></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-66" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-66"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriqueafriquedusud" title="Afrique du Sud"><span>Afrique
						du Sud</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-67" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-67"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquealgerie" title="Algérie"><span>Algérie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-68" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-68"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriqueangola" title="Angola"><span>Angola</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-69" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-69"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquebenin" title="Bénin"><span>Bénin</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-70" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-70"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquebotswana" title="Botswana"><span>Botswana</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-71" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-71"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriqueburkinafaso" title="Burkina Faso"><span>Burkina
						Faso</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-72" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-72"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriqueburundi" title="Burundi"><span>Burundi</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-73" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-73"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquecameroun" title="Cameroun"><span>Cameroun</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-74" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-74"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquecapvert" title="Cap-Vert"><span>Cap-Vert</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-75" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-75"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquecentreafricaine"
					title="République Centreafricaine"><span>République
						Centreafricaine</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-76" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-76"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquecomores" title="Comores"><span>Comores</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-77" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-77"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquecongo" title="République du Congo"><span>République
						du Congo</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-78" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-78"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquedemocratiqueducongo"
					title="République démocratique du Congo"><span>République
						démocratique du Congo</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-79" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-79"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquecoteivoire" title="Côte d&#39;Ivoire"><span>Côte
						d'Ivoire</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-80" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-80"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquedjibouti" title="Djibouti"><span>Djibouti</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-81" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-81"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriqueegypte" title="Egypte"><span>Egypte</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-82" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-82"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriqueerythree" title="Erythrée"><span>Erythrée</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-83" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-83"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriqueethiopie" title="Ethiopie"><span>Ethiopie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-84" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-84"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquegabon" title="Gabon"><span>Gabon</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-85" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-85"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriqueghana" title="Ghana"><span>Ghana</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-86" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-86"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriqueguinee" title="Guinée"><span>Guinée</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-87" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-87"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriqueguineebissau" title="Guinée-Bissau"><span>Guinée-Bissau</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-88" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-88"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriqueguineeequatoriale" title="Guinée équatoriale"><span>Guinée
						équatoriale</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-89" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-89"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquekenya" title="Kenya"><span>Kenya</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-90" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-90"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquelesotho" title="Lesotho"><span>Lesotho</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-91" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-91"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriqueliberia" title="Liberia"><span>Liberia</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-92" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-92"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquelibye" title="Libye"><span>Libye</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-93" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-93"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquemadagascar" title="Madagascar"><span>Madagascar</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-94" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-94"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquemalawi" title="Malawi"><span>Malawi</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-95" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-95"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquemali" title="Mali"><span>Mali</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-96" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-96"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquemaroc" title="Maroc"><span>Maroc</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-97" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-97"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquemaurice" title="Maurice"><span>Maurice</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-98" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-98"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquemauritanie" title="Mauritanie"><span>Mauritanie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-99" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-99"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquemozambique" title="Mozambique"><span>Mozambique</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-100" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-100"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquenamibie" title="Namibie"><span>Namibie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-101" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-101"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriqueniger" title="Niger"><span>Niger</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-102" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-102"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquenigeria" title="Nigeria"><span>Nigeria</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-103" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-103"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriqueouganda" title="Ouganda"><span>Ouganda</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-104" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-104"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquerwanda" title="Rwanda"><span>Rwanda</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-105" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-105"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquesaotomeetprincipe" title="Sao Tomé-et-Principe"><span>Sao
						Tomé-et-Principe</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-106" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-106"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquesenegal" title="Sénégal"><span>Sénégal</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-107" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-107"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriqueseychelles" title="Seychelles"><span>Seychelles</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-108" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-108"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquesierraleone" title="Sierra Leone"><span>Sierra
						Leone</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-109" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-109"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquesomalie" title="Somalie"><span>Somalie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-110" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-110"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquesoudan" title="Soudan"><span>Soudan</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-111" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-111"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriqueswaziland" title="Swaziland"><span>Swaziland</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-112" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-112"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquetanzanie" title="Tanzanie"><span>Tanzanie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-113" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-113"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquetchad" title="Tchad"><span>Tchad</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-114" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-114"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquetogo" title="Togo"><span>Togo</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-115" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-115"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquetunisie" title="Tunisie"><span>Tunisie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-116" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-116"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquezambie" title="Zambie"><span>Zambie</span></label></li>
			<li class=" "><label
				for="ui-multiselect-selectMobilite-option-117" title=""
				class="ui-corner-all"><input
					id="ui-multiselect-selectMobilite-option-117"
					name="multiselect_selectMobilite" type="checkbox"
					value="mondeafriquezimbabwe" title="Zimbabwe"><span>Zimbabwe</span></label></li>
		</ul>
	</div>



	<div id="div_mask"></div>
	<div id="div_modalmessage"></div>
	<script type="text/javascript">
        if(navigator.appName=='Microsoft Internet Explorer') document.write('<iframe id="frame_mask" frameborder="0" scrolling="no" src="about:blank" style="position:absolute;left:0px;top:0px;bottom:0px;width:100%;height:100%;filter:alpha(opacity=0);"></iframe>');
    </script>
	<div class="siteon">
		<div class="header">
			<div class="head_lines">
				<table class="head_config" width="100%">
					<tbody>
						<tr>
							<td width="25px" align="left"><img
								th:src="@{/images/deconnexion.png}" alt="deconnexion"
								width="25px" height="25px" border="0" /></td>
							<td width="125px" align="left">&nbsp;<a href="/disconnect">Déconnexion</a></td>
							<td width="125px" align="left">&nbsp;<a href="/">Abdessalem</a></td>
							<td width="25px" align="left"><img
								th:src="@{/images/societe.png}" alt="renard" width="25"
								height="25" border="0"></td>
							<td width="125px" align="left">solinum</td>
							<td width="150px" align="left">14/07/2018 17:39</td>
							<td align="right"><a href="/candidat/help"><img
									th:src="@{/images/help.png}"
									style="margin-bottom: -7px; margin-top: -7px;"></a>&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="head_menu">
				<table width="100%">
					<tbody>
						<tr>
							<td style="vertical-align: middle;"><a href="/actions"
								class="menu_inactif">Actions</a></td>
							<td style="vertical-align: middle;"><a href="/candidats"
								class="menu_actif">Candidats</a></td>
							<td style="vertical-align: middle;"><a href="/ressources"
								class="menu_inactif">Ressources</a></td>
							<td style="vertical-align: middle;"><a href="/crm"
								class="menu_inactif">CRM</a></td>
							<td style="vertical-align: middle;"><a href="/list-besoins"
								class="menu_inactif">Besoins</a></td>
							<td style="vertical-align: middle;"><a
								href="/positionnements" class="menu_inactif">Positionnements</a></td>
							<td style="vertical-align: middle;"><a href="/liste-projets"
								class="menu_inactif">Projets</a></td>
							<td style="vertical-align: middle;"><a href="/liste-achats"
								class="menu_inactif">Achats</a></td>
							<td style="vertical-align: middle;"><a
								href="/liste-temps-frais-absences" class="menu_inactif">Temps,
									Frais &amp; Absences</a></td>
							<td style="vertical-align: middle;"><a
								href="/liste-commandes-factures" class="menu_inactif">Facturation</a></td>
							<td style="vertical-align: middle;"><a
								href="/rapports-activite" class="menu_inactif">Rapports
									d'activité</a></td>
							<td class="parameters"><a href="/configuration">&nbsp;</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="maincontent">
			<!-- <script type="text/javascript">var wforms = new Wish_Forms('fr');</script> -->
			<div class="big_bloc">
				<h3 class="header_bloc">Fiche candidat</h3>
				<div class="contenu_bloc">
					<table width="100%">
						<tbody>
							<tr>
								<td width="150px"></td>
								<td>&nbsp;</td>
								<td width="50px">&nbsp;</td>
								<td width="95px"><input class="bactionico bsave"
									type="button" value="Enregistrer"
									onclick="return checkCandidat();document.getElementById('fiche').submit();"></td>
								<td width="75px"><a class="bnavigation breturn"
									href="https://app.boondmanager.com/tableau-de-bord/liste-candidats?keywords=&amp;tk=0&amp;id=2&amp;td=-1&amp;ctr=-1&amp;form=-1&amp;eval=-1&amp;et=-1&amp;tool=-1&amp;mob%5B%5D=-1&amp;cv=0&amp;app=-1&amp;int=-1&amp;exp=-1&amp;ps=-1&amp;pd=07%2F07%2F2020&amp;pf=07%2F07%2F2020&amp;oc=&amp;ot=&amp;page=1">Retour</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="big_bloc">
				<div id="TabbedPanels1" class="TabbedPanels">
					<ul class="TabbedPanelsTabGroup">
						<li class="TabbedPanelsTab TabbedPanelsTabSelected" tabindex="0"
							id="tabindex0"
							onclick="$(location).attr(&#39;href&#39;,&#39;https://app.boondmanager.com/tableau-de-bord/fiche-candidat?id=&amp;onglet=0&#39;);">Informations</li>
					</ul>

					<div class="TabbedPanelsContentGroup">
						<div class="TabbedPanelsContent TabbedPanelsContentVisible"
							style="display: block;">
							<form name="fiche" id="fiche" method="post"
								th:action="@{/candidat/new}" th:object="${candidatForm}">
								<table id="tabwarnings" width="100%" style="display: none">
									<tbody>
										<tr>
											<th class="bg_h4">Avertissements</th>
										</tr>
										<tr>
											<td class="bg_alterne_soft_full" style="text-align: left"><p
													class="red">
													Vous allez créer un nouveau candidat qui existe peut-être
													déjà ! cf. <span id="warningprofil"></span>
												</p></td>
										</tr>
										<tr>
											<td>&nbsp;</td>
										</tr>
									</tbody>
								</table>
								<div style="width: 48%; float: left">
									<table width="100%">
										<tbody>
											<tr>
												<th class="bg_h4" colspan="5">Informations générales</th>
											</tr>
											<tr>
												<td width="15%"><span class="legende">Référence</span></td>
												<td><span class="legende" th:text="${candidat_uid}"
													th:field="${uid}"></span></td>
												<td colspan="3">&nbsp;</td>
											</tr>
											<tr>
												<td width="15%"><span class="legende">Date MAJ</span></td>
												<td><span class="legende">07/07/2020 à 23:09</span></td>
												<td width="15%"><span class="legende">Date
														création</span></td>
												<td colspan="2">
													<div>
														<input class="calendrier" name="creation_date"
															id="creation_date" style="cursor: text"
															onclick="calcreation.ds_sh();" value="07/07/2020"><span
															class="legende">&nbsp;à&nbsp;23:09</span>
														<table class="ds_box" cellpadding="0" cellspacing="0"
															id="ds_conclasscreation" style="display: none;">
															<tbody>
																<tr>
																	<td id="ds_calclasscreation"></td>
																</tr>
															</tbody>
														</table>
													</div>
												</td>
											</tr>
											<tr>
												<td width="15%">Nom</td>
												<td><input name="nom" id="nom" maxlength="100"
													class="normalinput" value=""
													onkeyup="if(this.value.length &lt; 2 || document.getElementById(&#39;prenom&#39;).value.length &lt; 2) document.getElementById(&#39;tabwarnings&#39;).style.display = &#39;none&#39;; else wajax.makeRequest(&#39;https://app.boondmanager.com/tableau-de-bord/rapports-activite/update-liste/candidats?tk=3&amp;c=&#39;+encodeURIComponent(this.value.replace(&#39;-&#39;, &#39; &#39;)+&#39;#&#39;+document.getElementById(&#39;prenom&#39;).value.replace(&#39;-&#39;, &#39; &#39;)), updateSearchDuplicate);"></td>
												<td width="15%">Prénom</td>
												<td><input name="prenom" id="prenom" maxlength="100"
													class="normalinput" value=""
													onkeyup="if(this.value.length &lt; 2 || document.getElementById(&#39;nom&#39;).value.length &lt; 2) document.getElementById(&#39;tabwarnings&#39;).style.display = &#39;none&#39;; else wajax.makeRequest(&#39;https://app.boondmanager.com/tableau-de-bord/rapports-activite/update-liste/candidats?tk=3&amp;c=&#39;+encodeURIComponent(document.getElementById(&#39;nom&#39;).value.replace(&#39;-&#39;, &#39; &#39;)+&#39;#&#39;+this.value.replace(&#39;-&#39;, &#39; &#39;)), updateSearchDuplicate);"></td>
												<td><select class="veryshortselection" name="civilite"
													id="civilite">
														<option value="0">M.</option>
														<option value="1">Mme.</option>
												</select></td>
											</tr>
											<tr>
												<td width="15%">Etape</td>
												<td><select class="normalselection"
													th:field="*{etape_embauche}" id="etape">
														<option th:each="etape : ${etapes_embauche}"
															th:value="${etape.value}" th:text="${etape.libelle}"></option>
												</select> <input type="text" class="hiddeninput" id="in_importcv"
													name="in_importcv" value=""><input type="text"
													class="hiddeninput" id="in_importdoc" name="in_importdoc"
													value=""></td>
												<td colspan="3"><span class="legende">Converti
														en Ressource = convertir en Ressource</span></td>
											</tr>
											<tr>
												<td width="15%">Provenance CV</td>
												<td colspan="4"><select class="normalselection"
													th:field="*{provenance_cv}" id="provenancetype">
														<option th:each="provenance : ${provenance_cv}"
															th:value="${provenance.value}"
															th:text="${provenance.libelle}"></option>

												</select>&nbsp;Précisez :&nbsp;<input name="provenancetext"
													type="text" class="normalinput" value=""></td>
											</tr>
											<tr>
												<td width="15%">Responsable Manager</td>
												<td><select class="normalselection" name="respmanager"
													id="respmanager">
														<option value="2">BELHADJ abdessalem</option>
												</select></td>
												<td width="15%">Responsable RH</td>
												<td colspan="2"><select class="normalselection"
													name="resprh" id="resprh">
														<option value="0"></option>
														<option value="2">BELHADJ abdessalem</option>
												</select></td>
											</tr>
											<tr>
												<td width="15%">Agence</td>
												<td colspan="4"><select class="mediumselection"
													name="agence" id="agence">
														<option value="1">ERFFR</option>
												</select></td>
											</tr>
										</tbody>
									</table>
									<br> <br>
									<table width="100%">
										<tbody>
											<tr>
												<th class="bg_h4" colspan="5">Coordonnées</th>
											</tr>
											<tr>
												<td width="15%">Email&nbsp;1</td>
												<td width="265px"><input name="email1" maxlength="100"
													class="mediuminput" value=""></td>
												<td align="left" width="30px"><a href="mailto:"
													target="_blank"><img th:src="@{/images/ecrire.png}"
														width="25" height="25" alt="Icon Send Mail"></a></td>
												<td align="left" width="30px"></td>
												<td align="left"></td>
											</tr>
											<tr>
												<td width="15%">Email&nbsp;2</td>
												<td width="265px"><input name="email2" maxlength="100"
													class="mediuminput" value=""></td>
												<td align="left" width="30px"><a href="mailto:"
													target="_blank"><img th:src="@{/images/ecrire.png}"
														width="25" height="25" alt="Icon Send Mail"></a></td>
												<td align="left" width="30px"></td>
												<td align="left"></td>
											</tr>
											<tr>
												<td width="15%">Email&nbsp;3</td>
												<td width="265px"><input name="email3" maxlength="100"
													class="mediuminput" value=""></td>
												<td align="left" width="30px"><a href="mailto:"
													target="_blank"><img th:src="@{/images/ecrire.png}"
														width="25" height="25" alt="Icon Send Mail"></a></td>
												<td align="left" width="30px"></td>
												<td align="left"></td>
											</tr>
											<tr>
												<td width="15%">Téléphone&nbsp;1</td>
												<td colspan="4"><input name="tel1" maxlength="20"
													class="normalinput" value=""></td>
											</tr>
											<tr>
												<td width="15%">Téléphone&nbsp;2</td>
												<td colspan="4"><input name="tel2" maxlength="20"
													class="normalinput" value=""></td>
											</tr>
											<tr>
												<td width="15%">Téléphone&nbsp;3</td>
												<td colspan="4"><input name="tel3" maxlength="20"
													class="normalinput" value=""></td>
											</tr>
											<tr>
												<td width="15%">Fax</td>
												<td colspan="4"><input name="fax" maxlength="20"
													class="normalinput" value=""></td>
											</tr>
											<tr>
												<td width="15%">Adresse</td>
												<td colspan="4"><input name="adresse" maxlength="250"
													class="longinput" value=""></td>
											</tr>
											<tr>
												<td colspan="5">Code postal&nbsp; <input name="cp"
													maxlength="20" class="veryshortinput" value="">&nbsp;
													Ville&nbsp; <input name="ville" maxlength="100"
													class="normalinput" value="">&nbsp; <select
													th:field="*{pays}" class="normalselection" id="pays">
														<option th:each="pays : ${lespayes}"
															th:value="${pays.value}" th:text="${pays.libelle}"></option>
												</select></td>
											</tr>
										</tbody>
									</table>
									<br>
									<table width="100%">
										<tbody>
											<tr style="display: visible" id="show_websocials">
												<td colspan="2"><span class="legende">Renseigner
														les réseaux sociaux&nbsp;<a
														href="javascript:return false;"
														onclick="showWebSocials();"><img
															th:src="@{/images/changer.png}" alt="ShowTable"
															width="25px" height="25px" border="0"
															style="margin-top: -5px; margin-bottom: -10px;"></a>
												</span></td>
											</tr>
											<tr id="websocial_0" style="display: none">
												<td width="15%"><img th:src="@{/images/viadeo.png}"
													alt="viadeo"></td>
												<td><input class="mediuminput" name="websocial_url[]"
													maxlength="250" value=""> <input
													class="hiddeninput" name="websocial_id[]" value="0">
													<input class="hiddeninput" name="websocial_network[]"
													value="0"></td>
											</tr>
											<tr id="websocial_1" style="display: none">
												<td width="15%"><img th:src="@{/images/linkedin.png}"
													alt="linkedin"></td>
												<td><input class="mediuminput" name="websocial_url[]"
													maxlength="250" value=""> <input
													class="hiddeninput" name="websocial_id[]" value="0">
													<input class="hiddeninput" name="websocial_network[]"
													value="1"></td>
											</tr>
											<tr id="websocial_2" style="display: none">
												<td width="15%"><img th:src="@{/images/facebook.png}"
													alt="facebook"></td>
												<td><input class="mediuminput" name="websocial_url[]"
													maxlength="250" value=""> <input
													class="hiddeninput" name="websocial_id[]" value="0">
													<input class="hiddeninput" name="websocial_network[]"
													value="2"></td>
											</tr>
											<tr id="websocial_3" style="display: none">
												<td width="15%"><img th:src="@{/images/twitter.png}"
													alt="twitter"></td>
												<td><input class="mediuminput" name="websocial_url[]"
													maxlength="250" value=""> <input
													class="hiddeninput" name="websocial_id[]" value="0">
													<input class="hiddeninput" name="websocial_network[]"
													value="3"></td>
											</tr>
										</tbody>
									</table>
									<br> <br>
									<table width="100%">
										<tbody>
											<tr>
												<th class="bg_h4">Commentaires</th>
											</tr>
											<tr>
												<td align="center"><textarea class="normalarea"
														name="commentaires" id="commentaires"></textarea>
													<div class="legende">
														<span id="decompte_commentaires">1000</span> caractères
														restants
													</div></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div style="width: 48%; float: right">
									<table width="100%">
										<tbody>
											<tr>
												<th class="bg_h4" colspan="2">Informations
													complémentaires</th>
											</tr>
											<tr>
												<td width="30%">Date de naissance</td>
												<td><div>
														<input class="calendrier" name="naissance" id="naissance"
															onclick="calnaissance.ds_sh(undefined, 1990);" value="">
														<table class="ds_box" cellpadding="0" cellspacing="0"
															id="ds_conclassnaissance" style="display: none;">
															<tbody>
																<tr>
																	<td id="ds_calclassnaissance"
																		style="margin: 0px; padding: 0px"></td>
																</tr>
															</tbody>
														</table>
													</div></td>
											</tr>
											<tr>
												<td width="30%">Mobilité</td>
												<td><select name="selectMobilite[]" id="selectMobilite"
													multiple="multiple" style="display: none;">
														<optgroup label="Monde">
															<option value="monde">Monde</option>
															<option value="mondeafrique">Afrique</option>
															<option value="mondeameriquesnord">Amériques du
																Nord</option>
															<option value="mondeameriquessud">Amériques du
																Sud</option>
															<option value="mondeasie">Asie</option>
															<option value="mondeaustralie">Australie</option>
															<option value="mondeeurope">Europe</option>
														</optgroup>
														<optgroup label="Europe">
															<option value="mondeeuropeallemagne">Allemagne</option>
															<option value="mondeeuropeautriche">Autriche</option>
															<option value="mondeeuropebelgique">Belgique</option>
															<option value="mondeeuropebulgarie">Bulgarie</option>
															<option value="mondeeuropechypre">Chypre</option>
															<option value="mondeeuropedanemark">Danemark</option>
															<option value="mondeeuropeespagne">Espagne</option>
															<option value="mondeeuropeestonie">Estonie</option>
															<option value="mondeeuropefinlande">Finlande</option>
															<option value="mondeeuropefrance">France</option>
															<option value="mondeeuropegrèce">Grèce</option>
															<option value="mondeeuropehongrie">Hongrie</option>
															<option value="mondeeuropeirlande">Irlande</option>
															<option value="mondeeuropeitalie">Italie</option>
															<option value="mondeeuropelettonie">Lettonie</option>
															<option value="mondeeuropelituanie">Lituanie</option>
															<option value="mondeeuropeluxembourg">Luxembourg</option>
															<option value="mondeeuropemalte">Malte</option>
															<option value="mondeeuropepaysbas">Pays-Bas</option>
															<option value="mondeeuropepologne">Pologne</option>
															<option value="mondeeuropeportugal">Portugal</option>
															<option value="mondeeuroperepubliquetcheque">République
																tchèque</option>
															<option value="mondeeuroperoumanie">Roumanie</option>
															<option value="mondeeuroperoyaumeuni">Royaume-Uni</option>
															<option value="mondeeuropeslovaquie">Slovaquie</option>
															<option value="mondeeuropeslovenie">Slovénie</option>
															<option value="mondeeuropesuede">Suède</option>
															<option value="mondeeuropesuisse">Suisse</option>
														</optgroup>
														<optgroup label="France">
															<option value="mondeeuropefrancealsace">Alsace</option>
															<option value="mondeeuropefranceaquitaine">Aquitaine</option>
															<option value="mondeeuropefranceauvergne">Auvergne</option>
															<option value="mondeeuropefrancebourgogne">Bourgogne</option>
															<option value="mondeeuropefrancebretagne">Bretagne</option>
															<option value="mondeeuropefrancecentre">Centre</option>
															<option value="mondeeuropefrancechampagneardenne">Champagne-Ardenne</option>
															<option value="mondeeuropefrancecorse">Corse</option>
															<option value="mondeeuropefrancefranchecomte">Franche-Comté</option>
															<option value="mondeeuropefranceiledefrance">Ile-de-France</option>
															<option value="mondeeuropefrancelanguedocroussillon">Languedoc-Roussillon</option>
															<option value="mondeeuropefrancelimousin">Limousin</option>
															<option value="mondeeuropefrancelorraine">Lorraine</option>
															<option value="mondeeuropefrancemidipyrenees">Midi-Pyrénées</option>
															<option value="mondeeuropefrancenordpasdecalais">Nord-Pas-de-Calais</option>
															<option value="mondeeuropefrancebassenormandie">Basse-Normandie</option>
															<option value="mondeeuropefrancehautenormandie">Haute-Normandie</option>
															<option value="mondeeuropefrancepaysdelaloire">Pays
																de la Loire</option>
															<option value="mondeeuropefrancepicardie">Picardie</option>
															<option value="mondeeuropefrancepoitoucharentes">Poitou-Charentes</option>
															<option value="mondeeuropefrancepaca">PACA</option>
															<option value="mondeeuropefrancerhonealpes">Rhône-Alpes</option>
														</optgroup>
														<optgroup label="Ile-de-France">
															<option value="mondeeuropefranceiledefranceparis">Paris
																(75)</option>
															<option value="mondeeuropefranceiledefranceseineetmarne">Seine-et-Marne(77)</option>
															<option value="mondeeuropefranceiledefranceyvelines">Yvelines(78)</option>
															<option value="mondeeuropefranceiledefranceessone">Essone(91)</option>
															<option
																value="mondeeuropefranceiledefrancehautsdeseine(92)">Hauts-de-Seine(92)</option>
															<option
																value="mondeeuropefranceiledefranceseinesaintdenis">Seine-Saint-Denis(93)</option>
															<option value="mondeeuropefranceiledefrancevaldemarne">Val-de-Marne(94)</option>
															<option value="mondeeuropefranceiledefrancevaloise">Val-d'Oise(95)</option>
														</optgroup>
														<optgroup label="Asie">
															<option value="mondeasieinde">Inde</option>
														</optgroup>
														<optgroup label="Afrique">
															<option value="mondeafriqueafriquedusud">Afrique
																du Sud</option>
															<option value="mondeafriquealgerie">Algérie</option>
															<option value="mondeafriqueangola">Angola</option>
															<option value="mondeafriquebenin">Bénin</option>
															<option value="mondeafriquebotswana">Botswana</option>
															<option value="mondeafriqueburkinafaso">Burkina
																Faso</option>
															<option value="mondeafriqueburundi">Burundi</option>
															<option value="mondeafriquecameroun">Cameroun</option>
															<option value="mondeafriquecapvert">Cap-Vert</option>
															<option value="mondeafriquecentreafricaine">République
																Centreafricaine</option>
															<option value="mondeafriquecomores">Comores</option>
															<option value="mondeafriquecongo">République du
																Congo</option>
															<option value="mondeafriquedemocratiqueducongo">République
																démocratique du Congo</option>
															<option value="mondeafriquecoteivoire">Côte
																d'Ivoire</option>
															<option value="mondeafriquedjibouti">Djibouti</option>
															<option value="mondeafriqueegypte">Egypte</option>
															<option value="mondeafriqueerythree">Erythrée</option>
															<option value="mondeafriqueethiopie">Ethiopie</option>
															<option value="mondeafriquegabon">Gabon</option>
															<option value="mondeafriqueghana">Ghana</option>
															<option value="mondeafriqueguinee">Guinée</option>
															<option value="mondeafriqueguineebissau">Guinée-Bissau</option>
															<option value="mondeafriqueguineeequatoriale">Guinée
																équatoriale</option>
															<option value="mondeafriquekenya">Kenya</option>
															<option value="mondeafriquelesotho">Lesotho</option>
															<option value="mondeafriqueliberia">Liberia</option>
															<option value="mondeafriquelibye">Libye</option>
															<option value="mondeafriquemadagascar">Madagascar</option>
															<option value="mondeafriquemalawi">Malawi</option>
															<option value="mondeafriquemali">Mali</option>
															<option value="mondeafriquemaroc">Maroc</option>
															<option value="mondeafriquemaurice">Maurice</option>
															<option value="mondeafriquemauritanie">Mauritanie</option>
															<option value="mondeafriquemozambique">Mozambique</option>
															<option value="mondeafriquenamibie">Namibie</option>
															<option value="mondeafriqueniger">Niger</option>
															<option value="mondeafriquenigeria">Nigeria</option>
															<option value="mondeafriqueouganda">Ouganda</option>
															<option value="mondeafriquerwanda">Rwanda</option>
															<option value="mondeafriquesaotomeetprincipe">Sao
																Tomé-et-Principe</option>
															<option value="mondeafriquesenegal">Sénégal</option>
															<option value="mondeafriqueseychelles">Seychelles</option>
															<option value="mondeafriquesierraleone">Sierra
																Leone</option>
															<option value="mondeafriquesomalie">Somalie</option>
															<option value="mondeafriquesoudan">Soudan</option>
															<option value="mondeafriqueswaziland">Swaziland</option>
															<option value="mondeafriquetanzanie">Tanzanie</option>
															<option value="mondeafriquetchad">Tchad</option>
															<option value="mondeafriquetogo">Togo</option>
															<option value="mondeafriquetunisie">Tunisie</option>
															<option value="mondeafriquezambie">Zambie</option>
															<option value="mondeafriquezimbabwe">Zimbabwe</option>
														</optgroup>
												</select>
													<button type="button"
														class="ui-multiselect ui-widget ui-state-default ui-corner-all"
														aria-haspopup="true" style="width: 425px;">
														<span class="ui-icon ui-icon-triangle-2-n-s"></span><span>Sélectionner
															des items</span>
													</button></td>
											</tr>
											<tr>
												<td width="30%">Disponibilité</td>
												<td>
													<table>
														<tbody>
															<tr>
																<td><select class="normalselection"
																	th:field="*{disponibilite}" name="dispo_type"
																	id="dispo_type" onchange="changeDisponibilite();">
																		<option th:each="dispo : ${disponibilites}"
																			th:value="${dispo.value}" th:text="${dispo.libelle}"></option>

																</select></td>
																<td><div>
																		<input class="calendrier" name="dispo_date"
																			id="dispo_date"
																			style="cursor: text; visibility: hidden;"
																			onclick="caldispo.ds_sh();" value="">
																		<table class="ds_box" cellpadding="0" cellspacing="0"
																			id="ds_conclassdispo" style="display: none;">
																			<tbody>
																				<tr>
																					<td id="ds_calclassdispo"></td>
																				</tr>
																			</tbody>
																		</table>
																	</div></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
									<br> <label for="invisible"><input type="checkbox"
										name="invisible" id="invisible" value="1">&nbsp;<span
										class="legende">Si coché, visible uniquement de vous</span></label><br>
									<br> <br>
									<table width="100%">
										<tbody>
											<tr>
												<th class="bg_h4" colspan="2">Evaluations du candidat</th>
											</tr>
											<tr>
												<td width="30%">Evaluation Globale</td>
												<td><select class="shortselection" name="evaluation"
													id="evaluation" th:field="*{evaluation}">
														<option th:each="evaluation : ${evaluations_global}"
															th:value="${evaluation.value}"
															th:text="${evaluation.libelle}"></option>
												</select></td>
											</tr>
										</tbody>
									</table>
									<br>
									<table width="100%">
										<tbody id="notation_body">
											<tr>
												<th class="bg_titres_full" style="min-width: 100px;"
													scope="col">Date</th>
												<th class="bg_titres_full" style="min-width: 300px;"
													scope="col" id="colhelp_notations"><span
													style="font-size: 9px">Rel. | Tec.<br> <br>Commentaires
												</span></th>
												<th class="bg_titres_full" style="min-width: 100px;"
													scope="col">Responsable</th>
												<th width="25px" scope="col"></th>
											</tr>
											<tr class="bg_alterne_soft_full">
												<td colspan="3">&nbsp;</td>
												<td width="25px"><a
													href="javascript:addNotation(wforms,&#39;getMsgNotation();&#39;, [&#39;Relationnel&#39;,&#39;Technique&#39;],{&#39;-1&#39;:&#39;Non défini&#39;,&#39;a&#39;:&#39;A&#39;,&#39;b&#39;:&#39;B&#39;,&#39;c&#39;:&#39;C&#39;,&#39;d&#39;:&#39;D&#39;},&#39;fr&#39;);"><img
														th:src="@{/images/ajouter.png}" alt="Ajouter"
														title="Ajouter"></a></td>
											</tr>
										</tbody>
									</table>
									<br> <br>
								</div>
							</form>
							<p style="clear: both">&nbsp;</p>
							<script type="text/javascript">
    var wajax = new Wish_Ajax('fr');
    var calnaissance = new Wish_Calendar('calnaissance', 'naissance', 'ds_calclassnaissance', 'ds_conclassnaissance', 'fr');
    var caldispo = new Wish_Calendar('caldispo', 'dispo_date', 'ds_calclassdispo', 'ds_conclassdispo', 'fr');
        var calcreation = new Wish_Calendar('calcreation', 'creation_date', 'ds_calclasscreation', 'ds_conclasscreation', 'fr');
        var wtabNotation = new Wish_TabArrays('notation_body','notation_ligne_');
    wforms.LimiterTextArea(wforms, 'commentaires', 1000, 'decompte_commentaires');
    document.getElementById('civilite').value = '0';
    document.getElementById('etape').value = '0';
    document.getElementById('evaluation').value = '-1';
    document.getElementById('dispo_type').value = '-1';
    wforms.selectforce_item('respmanager', '2', 'BELHADJ abdessalem');
	wforms.selectforce_item('resprh', '2', 'BELHADJ abdessalem');
    wforms.selectforce_item('agence', '1', 'ERFFR');
        document.getElementById('pays').value = 'France';
    document.getElementById('provenancetype').value = '-1';
    $('#selectMobilite').multiselect({minWidth:'425',selectedList:10,dropdown:false,noneSelectedText:'Sélectionner des items',header:"10&nbsp;items maximum", click: function(e){if($(this).multiselect("widget").find("input:checked").length > 10) return false;}}).multiselectfilter();

    function changeDisponibilite() {if(document.getElementById('dispo_type').value=='9')document.getElementById('dispo_date').style.visibility='visible';else {document.getElementById('dispo_date').style.visibility='hidden';caldispo.ds_hi();}}
    changeDisponibilite();

    
    function saveCandidat() {
        if(!wforms.isFilled(['nom','prenom']))  return false;
        if(document.getElementById('modal_importcv') && document.getElementById('modal_importcv').checked == true)
        	document.getElementById('in_importcv').value = "1"; else document.getElementById('in_importcv').value = "";
		if(document.getElementById('modal_importdoc') && document.getElementById('modal_importdoc').checked == true)
			document.getElementById('in_importdoc').value = "1"; else document.getElementById('in_importdoc').value = "";
        document.getElementById('fiche').submit();
    }

    function checkCandidat() {
                if(document.getElementById('etape').value == 3) {//Embauche du candidat
            switch('fr') {
                default:setMessageModal('Voulez-vous créer une embauche et donc convertir ce candidat en ressource ?<br/><br/><span style="font-size:10px"><input type="checkbox" id="modal_importcv" value="1" checked="checked" />&nbsp;Cocher la checkbox pour importer le(s) CV(s) du candidat sur le profil de la ressource</span><br /><span style="font-size:10px"><input type="checkbox" id="modal_importdoc" value="1" checked="checked" />&nbsp;Cocher la checkbox pour importer le(s) pièce(s) jointe(s) du candidat sur le profil de la ressource</span><br /><br /><table width="100%"><tr><td width="21%">&nbsp;</td><td width="25%"><input type="button" value="Oui" id="byes_modalmessage" onclick="saveCandidat();" /></td><td width="8%">&nbsp;</td><td width="25%"><input type="button" value="Non" onclick="closeMessageModal();" id="bno_modalmessage" /></td><td width="21%">&nbsp;</td></tr></table>');break;
                case 'en':setMessageModal('Do you want to create a vacancy and hence a new consultant profile ?<br/><br/><span style="font-size:10px"><input type="checkbox" id="modal_importcv" value="1" checked="checked" />&nbsp;Tick the box to import the candidate\'s CV(s) for the new profile</span><br /><span style="font-size:10px"><input type="checkbox" id="modal_importdoc" value="1" checked="checked" />&nbsp;Tick the box to import the candidate\'s document(s) for the new profile</span><br /><br /><table width="100%"><tr><td width="21%">&nbsp;</td><td width="25%"><input type="button" value="Yes" id="byes_modalmessage" onclick="saveCandidat();" /></td><td width="8%">&nbsp;</td><td width="25%"><input type="button" value="Cancel" onclick="closeMessageModal();" id="bno_modalmessage" /></td><td width="21%">&nbsp;</td></tr></table>');break;
            }

        } else saveCandidat();        return false;
    }

    Wish_TabArrays.prototype.add_notation = function(arrayValue) {
        wtabNotation.getNextIndex();
        var tabValue = arrayValue;
                wtabNotation.insert_row("bg_tr_soft", wtabNotation.index,0);
                wtabNotation.insert_cell('<input type="text" class="hiddeninput" name="notation_value[]" value="'+tabValue[0]+'" /><input type="text" class="hiddeninput" name="notation_date[]" value="'+tabValue[1]+'" />'+tabValue[1]);
        hiddenInputEvalTxt = '';
        hiddenInputEvalValue = '';
                hiddenInputEvalValue += '<input type="text" class="hiddeninput" name="notation_critere_0[]" value="0" />';
        hiddenInputEvalValue += '<input type="text" class="hiddeninput" name="notation_evaluation_0[]" value="'+tabValue[5][0]+'" />';
                hiddenInputEvalTxt += tabValue[4][0];
                hiddenInputEvalValue += '<input type="text" class="hiddeninput" name="notation_critere_1[]" value="1" />';
        hiddenInputEvalValue += '<input type="text" class="hiddeninput" name="notation_evaluation_1[]" value="'+tabValue[5][1]+'" />';
        hiddenInputEvalTxt += ' | ';        hiddenInputEvalTxt += tabValue[4][1];
                wtabNotation.insert_cell('<input type="text" class="hiddeninput" name="notation_commentaire[]" value="'+cleanComment(tabValue[3])+'" />'+hiddenInputEvalValue+hiddenInputEvalTxt+'<br/><br/><span style="font-size:9px">'+cleanComment(tabValue[3])+'</span>');
        wtabNotation.insert_cell('<input type="text" class="hiddeninput" name="notation_resp[]" value="'+tabValue[6]+'" /><span style="font-size:9px">'+tabValue[2]+'</span>');
                wtabNotation.insert_cell('<a href="javascript:wtabNotation.delete_row(\''+wtabNotation.ligne.id+'\');"><img src="images/suppression.png" alt="Supprimer" title="Supprimer" /></a>','25px');
            }

    function showWebSocials() {
        document.getElementById('show_websocials').style.display='none';
                document.getElementById('websocial_0').style.display='table-row';
                document.getElementById('websocial_1').style.display='table-row';
                document.getElementById('websocial_2').style.display='table-row';
                document.getElementById('websocial_3').style.display='table-row';
            }
    
    function cleanComment(comment){
        return comment.replace(/>/g, '&#62;').replace(/</g, '&#60;').replace(/\//g, '&#47;').replace(/"/g, '&#34;')
    }

        function updateSearchDuplicate(oData) {
        document.getElementById('warningprofil').innerHTML = '';
        nodes = oData.getElementsByTagName("item");
        if(nodes.length > 0) {
            if(nodes.length > 10) nL = 10; else nL = nodes.length;
            for (var i=0; i<nL; i++) {
                if(document.getElementById('warningprofil').innerHTML != '') document.getElementById('warningprofil').innerHTML += ', ';
                typeProfil = nodes[i].getAttribute("id").split('_');
                document.getElementById('warningprofil').innerHTML += '<a class="lien" href="tableau-de-bord/fiche-candidat?id='+typeProfil[1]+'&ret=candidat__0">'+nodes[i].getAttribute("nom")+'</a>';
            }
            if(document.getElementById('warningprofil').innerHTML != '' && nodes.length > 10) document.getElementById('warningprofil').innerHTML += ', ...';
            document.getElementById('tabwarnings').style.display = 'inline-table';
        } else document.getElementById('tabwarnings').style.display = 'none';
    }
        function getMsgNotation() {
        evalValue = [];
        evalTxt = [];
		jQuery.each(['Relationnel','Technique'], function(i, notation) {
            evalTxt.push($("#msgevalnotation_"+i+" option[value='"+document.getElementById('msgevalnotation_'+i).value+"']").text());
            evalValue.push(document.getElementById('msgevalnotation_'+i).value);
        });
        wtabNotation.add_notation([0,'07/07/2020','BELHADJ abdessalem',document.getElementById('msgevalcomment').value,evalTxt,evalValue,'2']);
    }
    </script>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
    var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1", 'tabindex0');
    
            
        $(document).keyup(function(event) {if(wforms.isKeyPressSaveEvent(event)) {return checkCandidat();document.getElementById('fiche').submit();}});
</script>
		</div>
		<div class="footer">
			<table width="100%">
				<tbody>
					<tr>
						<td align="left"><a
							href="https://app.boondmanager.com/?wshl=fr">Français</a> <a
							href="https://app.boondmanager.com/?wshl=en"
							style="font-size: 9px; font-weight: normal">Anglais</a></td>
						<td align="center">v6.9.9</td>
						<td align="right"><a href="https://support.boondmanager.com/"
							target="_blank">Support</a> <a
							href="https://support.boondmanager.com/hc/fr/sections/201261559-Candidats"
							target="_blank">Tutoriels</a> <a
							href="https://app.boondmanager.com/#"
							onclick="zE.activate({hideOnClose:true});return false;">Aide</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>