<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />

<link rel="icon" href="../../../../favicon.ico">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link th:href="@{/css/compaign/main.css}" rel="stylesheet"
	type="text/css" />
<title>PDP- Partager vos profils</title>

</head>

<body>

	<div class="container">
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills float-right">
					<li class="nav-item"><a class="nav-link" href="/">Home </a></li>
					<li class="nav-item"><a class="nav-link" href="/audience">Audience</a></li>
					<li class="nav-item"><a class="nav-link active"
						href="/partenaire">Partenaires<span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">PDP</h3>
		</div>
		<div class="jumbotron">
			<h1 class="display-4">
				Vous avez <span th:text="${#lists.size(partenaires)}"> </span>
				partenaires
			</h1>
			<p>
				<a class="btn btn-lg btn-success" href="/partenaire/new"
					role="button">Ajouter une partenaire</a>
			</p>
		</div>
		<main role="main" class="container">
		<div class="list-group"
			th:each="partenaire: ${partenaires}">
			<a th:href="@{/contact/{id}/new(id=${partenaire.id})}"
				class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1" th:text="${partenaire?.name}"></h5>
					<small>3 days ago</small>
				</div>
				<p class="mb-1" th:text="'Responsable : ' + ${partenaire?.responsable}"></p>
				<small
				th:text="'Adresse : '+ ${partenaire?.adresse} +' Tél: ' + ${partenaire?.telephonestandard}"></small>
			</a>
		</div>
		</main>
		<footer class="footer">
			<p>© Solinum 2020</p>
		</footer>
	</div>
</body>
</html>