<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />

<link rel="icon" href="../../../../favicon.ico">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link th:href="@{/css/compaign/main.css}" rel="stylesheet"
	type="text/css" />
<title>PDP- Partager vos profils</title>

</head>

<body>

	<div class="container">
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills float-right">
					<li class="nav-item"><a class="nav-link" href="/">Home
							
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/audience">Audience</a></li>
					<li class="nav-item"><a class="nav-link active" href="/partenaire">Partenaires<span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">PDP</h3>
		</div>
		<div class="jumbotron">
			<h1 class="display-4">Nouveau partenaire</h1>
		</div>
		<main role="main" class="container">
		<form class="form-horizontal form-centter"
			th:action="@{/partenaire/new}" th:object="${partenaire}" method="post">
			<fieldset>
				<div class="form-group row">
					<label for="text" class="col-4 col-form-label">Nom</label>
					<div class="col-8">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">
									<i class="fa fa-align-left"></i>
								</div>
							</div>
							<input  name="text" type="text" class="form-control"
								th:field="*{name}">
						</div>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="textarea" class="col-4 col-form-label">Responsable</label>
					<div class="col-8">
						<input name="text" type="text" class="form-control"
								th:field="*{responsable}">
					</div>
				</div>
				
				<div class="form-group row">
					<label for="textarea" class="col-4 col-form-label">Adresse</label>
					<div class="col-8">
						<input name="text" type="text" class="form-control"
								th:field="*{adresse}">
					</div>
				</div>
				
				<div class="form-group row">
					<label for="textarea" class="col-4 col-form-label">Tel standard</label>
					<div class="col-8">
						<input name="text" type="text" class="form-control"
								th:field="*{telephonestandard}">
					</div>
				</div>

				<div class="form-group row">
					<div class="offset-4 col-8">
						<button name="submit" type="submit" class="btn btn-primary">Ajouter</button>
					</div>
				</div>
			</fieldset>
		</form>

		</main>

		<footer class="footer">
			<p>© Solinum 2020</p>
		</footer>

	</div>
</body>
</html>