<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>

	<form class="form-horizontal" action="#" th:action="@{/profil/add}"
		th:object="${profil}" method="post">
		<fieldset>

			<!-- Form Name -->
			<legend>Ajouter un candidat</legend>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="textinput">Prénom</label>
				<div class="col-md-4">
					<input id="textinput" th:field="*{prenom}"  type="text"
						placeholder="prénom" class="form-control input-md">

				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="textinput">Nom</label>
				<div class="col-md-4">
					<input id="textinput" th:field="*{nom}"  type="text" placeholder="nom"
						class="form-control input-md">

				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="textinput">Disponibilité</label>
				<div class="col-md-4">
					<input id="textinput" th:field="*{disponible}" type="text"
						placeholder="Disponibilité" class="form-control input-md">

				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="textinput">TJM</label>
				<div class="col-md-4">
					<input id="textinput" th:field="*{tjm}" type="text" placeholder="TJM"
						class="form-control input-md">

				</div>
			</div>

			<!-- Button (Double) -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="button1id"></label>
				<div class="col-md-8">
					<button id="button1id" name="button1id" type="submit" class="btn btn-success">Sauvegarder</button>
					<button id="button2id" name="button2id" type="reset" class="btn btn-danger">Annuler</button>
				</div>
			</div>
		</fieldset>
	</form>

	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>