<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="icon" href="../../../../favicon.ico">

<title>PDP- Partager vos profils</title>

<!-- Bootstrap core CSS -->
<link href="../../css/editor.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="narrow-jumbotron.css" rel="stylesheet">
</head>

<body>

	<div class="container">
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills float-right">
					<li class="nav-item"><a class="nav-link active" href="#">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/audience">Audience</a></li>
					<li class="nav-item"><a class="nav-link" href="/partenaire">Partenaires</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">PDP</h3>
		</div>

		<div class="jumbotron">
			<h1 class="display-3">
				<span th:text="'Bonjour ' + ${name}"></span>
			</h1>
			<p class="lead">Ici vous pouvez créer vos compagnes de marketing
				et partager vos profils en inter contrat</p>
			<p>
				<a class="btn btn-lg btn-success" href="/compaign/new" role="button">Créer
					une compagne Mailing</a>
			</p>
		</div>

		<main role="main" class="container">
			<div class="my-3 p-3 bg-white rounded box-shadow">

				<div class="media text-muted pt-3" th:each="compagne: ${compagnes}">
					<img
						data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1"
						alt="32x32" class="mr-2 rounded"
						style="width: 32px; height: 32px;"
						src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_171a20e1efb%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_171a20e1efb%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.5390625%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
						data-holder-rendered="true">
					<p
						class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
						<strong class="d-block text-gray-dark"><span th:text="${compagne.name}"></span> created by @<span th:text="${compagne.createdby}"></span></strong>
						<span th:text="${compagne.description}"></span>
					</p>
					<!-- <span data-dojo-attach-point="node_badge" class="badge"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><span th:text="${compagne.status}"></span></font></font></span>-->
					
					<a th:href="@{/compaign/details/{id}(id=${compagne.id})}" class="btn btn-info btn-xs">Détails</a>
				</div>
				<!-- <div class="media text-muted pt-3">
					<img
						data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1"
						alt="32x32" class="mr-2 rounded"
						src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_171a20e1efe%20text%20%7B%20fill%3A%23e83e8c%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_171a20e1efe%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23e83e8c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.5390625%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
						data-holder-rendered="true" style="width: 32px; height: 32px;">
					<p
						class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
						<strong class="d-block text-gray-dark">@username</strong> Donec id
						elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
						cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
						justo sit amet risus.
					</p>
				</div>
				<div class="media text-muted pt-3">
					<img
						data-src="holder.js/32x32?theme=thumb&amp;bg=6f42c1&amp;fg=6f42c1&amp;size=1"
						alt="32x32" class="mr-2 rounded"
						src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_171a20e1eff%20text%20%7B%20fill%3A%236f42c1%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_171a20e1eff%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%236f42c1%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.5390625%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
						data-holder-rendered="true" style="width: 32px; height: 32px;">
					<p
						class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
						<strong class="d-block text-gray-dark">@username</strong> Donec id
						elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
						cursus commodo, tortor mauris condimentum nibh, ut fermentum massa
						justo sit amet risus.
					</p>
				</div>-->

			</div>


		</main>

		<footer class="footer">
			<p>© Solinum 2020</p>
		</footer>

	</div>
	<!-- /container -->


</body>
</html>