<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="icon" href="../../../../favicon.ico">

<title>PDP- Partager vos profils</title>

<!-- Bootstrap core CSS -->
<link href="../../css/editor.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="narrow-jumbotron.css" rel="stylesheet">
</head>

<body>

	<div class="container">
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills float-right">
					<li class="nav-item"><a class="nav-link active" href="/">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="/audience">Audience</a></li>
					<li class="nav-item"><a class="nav-link" href="/partenaire">Partenaires</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">PDP</h3>
		</div>
		<div class="jumbotron">
			<h1 class="display-4">
				Détails compagne <span th:text="${compaign?.name}"></span>
			</h1>
		</div>
		<main role="main" class="container">
		<form class="form-horizontal form-centter"
			th:action="@{/compaign/{id}/send(id=${compaign?.id})}" method="post">
			<fieldset class="form-horizontal form-centter">
				<div class="form-group row">
					<label for="text" class="col-4 col-form-label">Nom</label>
					<div class="col-8" th:text="${compaign?.name}"></div>
				</div>

				<div class="form-group row">
					<label for="textarea" class="col-4 col-form-label">Sujet</label>
					<div class="col-8" th:text="${compaign?.compaignparam?.subject}"></div>
				</div>

				<div class="form-group row">
					<label for="textarea" class="col-4 col-form-label">Description</label>
					<div class="col-8" th:text="${compaign?.description}"></div>
				</div>


				<div class="form-group row">
					<label for="textarea" class="col-4 col-form-label">Audience</label>
					<a th:href="@{/audience/{id}(id=${compaign?.audience?.id})}">
						<div class="col-8" th:text="${compaign?.audience?.name}"></div>
					</a>
				</div>

				<button type="submit" class="btn btn-primary btn-lg btn-block">Envoyer</button>

			</fieldset>
		</form>
		</main>




		<footer class="footer">
			<p>© Solinum 2020</p>
		</footer>

	</div>
</body>
</html>