<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="icon" href="../../../../favicon.ico">

<title>PDP- Partager vos profils</title>

<!-- Bootstrap core CSS -->
<link href="../../css/editor.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="narrow-jumbotron.css" rel="stylesheet">
</head>

<body>

	<div class="container">
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills float-right">
					<li class="nav-item"><a class="nav-link" href="/">Home </a></li>
					<li class="nav-item"><a class="nav-link active"
						href="/audience">Audience<span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="/partenaire">Partenaires</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">PDP</h3>
		</div>
		<div class="jumbotron">
			<h1 class="display-4">
				Détails audience <span th:text="${audience?.name}"></span>
			</h1>
		</div>
		<main role="main" class="container">
		<fieldset class="form-horizontal form-centter">
			<div class="list-group" th:each="partenaire: ${audience.partenaires}">
				<a th:href="@{/contact/{id}/new(id=${partenaire.id})}"
					class="list-group-item list-group-item-action flex-column align-items-start">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1" th:text="${partenaire?.name}"></h5>
						<small>3 days ago</small>
					</div>
					<p class="mb-1"
						th:text="'Responsable : ' + ${partenaire?.responsable}"></p> <small
					th:text="'Adresse : '+ ${partenaire?.adresse} +' Tél: ' + ${partenaire?.telephonestandard}"></small>
				</a>
			</div>

		</fieldset>
		</main>

		<footer class="footer">
			<p>© Solinum 2020</p>
		</footer>

	</div>
</body>
</html>