<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />

<link rel="icon" href="../../../../favicon.ico">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link th:href="@{/css/compaign/main.css}" rel="stylesheet"
	type="text/css" />
<title>PDP- Partager vos profils</title>

</head>

<body>

	<div class="container">
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills float-right">
					<li class="nav-item"><a class="nav-link" href="/">Home </a></li>
					<li class="nav-item"><a class="nav-link active"
						href="/audience">Audience<span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link"
						href="/partenaire">Partenaires</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">PDP</h3>
		</div>
		<div class="jumbotron">
			<h1 class="display-4">
				Vous avez <span th:text="${#lists.size(audiences)}"> </span>
				audience
			</h1>
			<p>
				<a class="btn btn-lg btn-success" href="/audience/new" role="button">Créer
					une audience</a>
			</p>
		</div>
		<main role="main" class="container">
		<div class="my-3 p-3 bg-white rounded box-shadow">
			<div class="media text-muted pt-3" th:each="audience: ${audiences}">
				<img
					data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1"
					alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;"
					src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_171a20e1efb%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_171a20e1efb%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.5390625%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
					data-holder-rendered="true">
				<p
					class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
					<strong class="d-block text-gray-dark"><span
						th:text="${audience.name}"></span></strong>Cette audience contient <span
						th:text="${#lists.size(audience.partenaires)}"> partenaires</span>
				</p>

				<a th:href="@{/audience/{id}(id=${audience.id})}"
					class="btn btn-info btn-xs">détails</a>
			</div>

		</div>
		</main>
		<footer class="footer">
			<p>© Solinum 2020</p>
		</footer>
	</div>
</body>
</html>