<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />

<link rel="icon" href="../../../../favicon.ico">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link th:href="@{/css/compaign/main.css}" rel="stylesheet"
	type="text/css" />
<title>PDP- Partager vos profils</title>

</head>
<body>

	<div class="container">
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills float-right">
					<li class="nav-item"><a class="nav-link" href="/">Home </a></li>
					<li class="nav-item"><a class="nav-link"
						href="/audience">Audience</a></li>
					<li class="nav-item"><a class="nav-link active" href="/partenaire">Partenaires<span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">PDP</h3>
		</div>
		<div class="jumbotron">
			<h1 class="display-4">
				Ajouter des contacts à <span th:text="${partenaire.name}"></span>
			</h1>
		</div>
		<main role="main" class="container">

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nom prénom</th>
					<th scope="col">Email Perso</th>
					<th scope="col">Email Pro</th>
					<th scope="col">Telephone Fixe</th>
					<th scope="col">Telephone Portable</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="contact: ${partenaire.contacts}">
					<th scope="row" th:text="${contact?.id}"></th>
					<td th:text="${contact?.lastname} + ' ' + ${contact?.name}"></td>
					<td th:text="${contact?.emailperso}"></td>
					<td th:text="${contact?.emailpro}"></td>
					<td th:text="${contact?.telephonefixe}"></td>
					<td th:text="${contact?.telephoneportable}"></td>
				</tr>
			</tbody>
		</table>

		<form class="form-horizontal"
			th:action="@{/contact/{partenaireId}/new(partenaireId=${partenaire.id})}"
			th:object="${contact}" method="post">

			<fieldset>
				<div class="form-row">
					<div class="col">
						<input type="text" class="form-control" placeholder="Nom"
							th:field="*{name}">
					</div>
					<div class="col">
						<input type="text" class="form-control" placeholder="Prénom"
							th:field="*{lastname}">
					</div>
				</div>
				<div class="form-row">
					<div class="col">
						<input type="text" class="form-control" placeholder="Email Pro"
							id="emailpro" th:field="*{emailpro}">
					</div>
					<div class="col">
						<input type="text" class="form-control" placeholder="Email Perso"
							id="emailperso" th:field="*{emailperso}">
					</div>
				</div>
				<div class="form-row">
					<div class="col">
						<input type="text" class="form-control"
							placeholder="Telephone fixe" th:field="*{telephonefixe}">
					</div>
					<div class="col">
						<input type="text" class="form-control"
							placeholder="Telephone portable" th:field="*{telephoneportable}">
					</div>
				</div>

				<div class="form-group row">
					<div class="offset-4 col-8">
						<button name="submit" type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</fieldset>
		</form>

		<script src="https://code.jquery.com/jquery-1.12.4.js"></script> <script
			src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <script>
				/* $('#emailpro').autocomplete(
						{
							serviceUrl : '/autocomplete/contacts',
							onSelect : function(suggestion) {
								alert('You selected: ' + suggestion.value + ', '
										+ suggestion.data);
							}
						}); */
			</script> </main>
		<footer class="footer">
			<p>© Solinum 2020</p>
		</footer>
	</div>
</body>
</html>